.navigator {
  text-align: center;
  background-color: lightgray;
  width: 300px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 25px;
}
body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #EEEEEE;
  color: #333333;
}
p {
  line-height: 1.4;
  font-size: 16px;
  max-width: 70ch;
  margin: 0 auto; 
}
